@import 'tailwindcss';

@theme {
  /* Colors */
  --color-mill-background: #faf6f1;
  --color-mill-surface: #f2ebe1;
  --color-mill-surface-dark: #ebe0d1;
  --color-mill-surface-darker: #dcc8ad;
  --color-mill-text-primary: #2c1f14;
  --color-mill-text-secondary: #614e41;
  --color-mill-brand: #c1603a;
  --color-mill-brand-dark: #b05835;
  --color-mill-brand-darker: #894529;
  --color-mill-brand-darkest: #62311e;
  --color-mill-accent: #e8c4b0;
  --color-mill-border: #d9d2ca;
  
  /* Line Heights */
  --leading-heading-xl: 1.1;
  --leading-heading-l: 1.2;
  --leading-heading-m: 1.2;
  --leading-heading-s: 1.3;
  --leading-body-l: 1.6;
  --leading-body: 1.5;
  --leading-body-s: 1.4;
  --leading-label: 1.3;
}
